/docs
/docs-util
/www
typedoc.*
jest*
build/**
.github/**
.cache/**
dist/**


**/scripts/*
**/dist/*
**/.cache/*
**/build/*

**/node_modules/*
**/migrations/*
**/__mocks__/*

.eslintrc.js
medusa-config.js

index.d.ts