{
  "endOfLine": "auto",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "always",
  "overrides": [
    {
      "files": "./src/admin/**/*.{js,jsx,ts,tsx}",
      "options": {
        "plugins": ["prettier-plugin-tailwindcss"]
      }
    }
  ]
}
